@import url('https://fonts.googleapis.com/css2?family=Glacial+Indifference&display=swap');
@import url('https://fonts.cdnfonts.com/css/clear-sans');

.banner {
    background-color: #ececec;
    background-image: url('/estatua-justica1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem 2rem 4rem 5rem;
    min-height: 500px;
    width: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
}

.textoArea {
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(2px);
}

.logoContainer {
    margin-bottom: 1.2rem;
}

.logoGrande {
    max-width: 400px;
    width: 100%;
    height: auto;
}

.subtitulo {
    font-family: 'Clear Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #555555;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.botaoBanner {
    font-family: 'Clear Sans', sans-serif;
    background-color: #0047ab;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 14px 40px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}


.botaoBanner:hover {
    background-color: #003580; /* Azul mais escuro */
}

@media (max-width: 769px) {
    .banner {
        background-position: -18rem 1rem;
        padding: 4rem 0.5rem 4rem 1.5rem;
    }

    .textoArea {
        max-width: 60vw;
    }

    .textos {
        max-width: 30rem;
        padding: 0 1rem;
    }

    .titulo {
        font-size: 2rem;
    }

    .paragrafo {
        font-size: 0.9rem;
        max-width: 25rem;
    }

    .botaoBanner {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 480px) {
    .textoArea {
        max-width: 65vw;
        padding: 0;
    }

    .subtitulo {
        font-size: 1.2rem;
    }

    .banner {
        height: auto;
        min-height: 380px;
        padding-top: 60px;
        padding-bottom: 40px;
        background-position: -90vw 0.5vw;
    }

    .textos {
        max-width: 85%;
        padding: 0 0.5rem;
    }

    .logo {
        font-size: 1.2rem;
    }

    .titulo {
        font-size: 1.5rem;
    }

    .paragrafo {
        font-size: 0.85rem;
        max-width: 90%;
    }

    .botaoBanner {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 376px) {
    .banner {
        background-position: -140vw 1vw;
    }

    .botaoBanner {
        padding: 0.5rem 0.7rem;
    }
}